#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#init-component {
  padding: 24px;
}

.debug-option {
  padding: 8px 16px;
}

.debug-option > input {
  margin-right: 8px;
}

.debug-option > span {
  font-size: 18px;
}

#component-monitor {
  display: flex;
  flex-direction: row;
  font-family: "Roboto Mono for Powerline";
  height: 200px;
  justify-content: space-around;
  padding: 2px;
}

.metric-section-header {
  font-size: 11px;
  font-weight: bold;
  position: relative;
  top: 1px;
  left: 1px;
}

.components {
  flex: 1;
  padding: 8px;
  font-size: 10px;
  overflow-y: scroll;
}

.events {
  flex: 2;
  padding: 8px;
  font-size: 10px;
  overflow: scroll;
  white-space: nowrap;
}

.event {
  float: left;
  display: inline;
}

.event-type-badge {
  width: 48px;
  margin-right: 4px;
}

.event-source-component {
  font-size: 11px;
  font-weight: 500;
  background-color: rgba(0, 204, 187, 0.15);
  border-radius: 2px;
  padding: 1px 2px;
}

.metrics {
  flex: 1;
  display: flex;
  padding: 8px;
  flex-direction: column;
}

.metrics-data-point {
  display: flex;
  font-size: 11px;
}

.data-point-header {
  flex: 3;
}

.data-point-value {
  flex: 1;
}

.iframe {
  flex: 1;
  justify-content: space-between;
  margin: 4px;
  padding: 8px;
  border: 1px solid blue;
}

.iframe > div {
  min-width: 60px;
  min-height: 60px;
}

span {
  font-size: 12px;
}

.dom-label {
  font-size: 10px;
  font-family: "Roboto Mono for Powerline";
}
