#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#init-component {
  padding: 24px;
}

.debug-option {
  padding: 8px 16px;
}

.debug-option > input {
  margin-right: 8px;
}

.debug-option > span {
  font-size: 18px;
}

#component-monitor {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono for Powerline';
  height: 200px;
}

.metrics-dashboard-row {
  flex: 1;
  display: flex;
  font-size: 0.7em;
}

.metrics-dashboard-data {
  overflow: scroll;
  flex: 7;
  justify-content: space-around;
  padding: 2px;
}

.metric-section-header {
  font-size: 1.6em;
  font-weight: bold;
  position: relative;
  top: 8px;
  left: 8px;
  text-decoration: underline;
}

.metrics {
  flex: 1;
}

.components {
  flex: 2;
}

.messages {
  flex: 5;
}

.metrics-data {
  display: flex;
  padding: 8px;
  flex-direction: column;
}

.components-data {
  padding: 8px;
  overflow-y: scroll;
}

.messages-data {
  padding: 8px;
  overflow: scroll;
  white-space: nowrap;
}

.message {
  float: left;
  display: inline;
}

.message-type-badge {
  width: 6em;
  margin-right: 4px;
}

.message-source {
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 4px;
  padding: 2px 6px;
}

.message-source-application {
  background-color: rgba(187, 0, 187, 0.6);
  color: white;
}

.message-source-component {
  background-color: rgba(0, 255, 17, 0.4);
}

.message-index {
  font-size: 9px;
  padding-right: 4px;
  padding-top: 4px;
}

.metrics-data-point {
  display: flex;
  font-size: 1em;
}

.data-point-header {
  flex: 5;
}

.data-point-value {
  flex: 1;
  text-align: right;
  font-weight: 700;
}

span {
  font-size: 12px;
}

.bwe-debug .container-child {
  border: 1px solid blue;
  padding: 0.5em;
  margin-bottom: 1em;
}

.dom-label {
  font-size: 0.7em;
  font-family: 'Roboto Mono for Powerline';
  text-align: center;
}
