.wrapper {
  display: grid;
  grid-template-columns: min-content 14rem 1fr 1fr;
  width: 100%;

  > * {
    overflow: hidden;
  }

  &[data-expanded-panel='EDITOR'] {
    grid-template-columns: min-content 14rem 1fr 0px;
  }

  &[data-expanded-panel='PREVIEW'] {
    grid-template-columns: min-content 0px 0px 1fr;
  }
}
