.wrapper {
  height: 100%;
  position: relative;
  color: #000;
  background: linear-gradient(-45deg, #6861bd, #72cbdb);
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  box-sizing: border-box;
  padding: 1rem 1rem 0;
}

.pinnedComponentSelector {
  all: unset;
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 0;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-family: var(--font-primary);
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-text-1);
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0.75rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 200ms;
  mix-blend-mode: overlay;

  span {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  svg {
    flex-shrink: 0;
  }

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.75);
  }
}

.scroll {
  position: absolute;
  inset: 2.5rem 1rem 1rem;
  overflow: auto;
  scroll-behavior: smooth;
  background: #fff;
}
