.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  height: 2rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  gap: 0.75rem;
  line-height: 1;
  cursor: pointer;
  border-radius: 10rem;
  color: var(--color-affirm);
  background: var(--color-surface-1);
  border: 1px solid var(--color-border-1);
  box-shadow: 0 0 0 0px var(--color-focus-outline);
  outline: none;
  transition: all 200ms;

  svg {
    fill: currentColor;
  }

  &:hover {
    border-color: var(--violet-6);
  }

  &:focus {
    border-color: var(--color-primary-action);
    box-shadow: 0 0 0 3px var(--color-focus-outline);
  }

  &:active {
    transition: none;
    border-color: var(--violet-7);
    background-color: var(--violet-2);
  }

  &:disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  &[aria-busy='true'] {
    pointer-events: none;

    .content {
      opacity: 0;
    }

    &::before {
      content: '';
      display: block;
      height: 1rem;
      width: 1rem;
      position: absolute;
      inset: 0;
      margin: auto;
      border-radius: 100%;
      border: 2px solid currentColor;
      border-color: currentColor transparent currentColor transparent;
      animation: spin 1.2s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
