.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  height: 1.75rem;
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: 700;
  gap: 0.75rem;
  line-height: 1;
  cursor: pointer;
  border: none;
  border-radius: 10rem;
  color: var(--color-affirm);
  background: var(--color-surface-2);
  box-shadow: 0 0 0 1px var(--color-border-1);
  outline: none;
  transition: all 200ms;

  svg {
    fill: currentColor;
  }

  &:hover {
    background: var(--color-surface-3);
  }

  &:focus {
    box-shadow:
      0 0 0 1px var(--color-surface-primary),
      0 0 0 3px var(--color-focus-outline);
  }

  &:disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  &[aria-busy='true'] {
    pointer-events: none;

    .content {
      opacity: 0;
    }

    &::before {
      content: '';
      display: block;
      height: 1rem;
      width: 1rem;
      position: absolute;
      inset: 0;
      margin: auto;
      border-radius: 100%;
      border: 3px solid currentColor;
      border-color: currentColor transparent currentColor transparent;
      animation: spin 1.2s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
