.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 1.15rem;
  height: 1.15rem;
  background: var(--color-surface-1);
  border-radius: 0.3rem;
  margin: auto 0;
  border: 1px solid var(--color-border-1);
  box-shadow: 0 0 0 0px var(--color-focus-outline);
  overflow: hidden;
  transition: all 200ms;

  &:focus-within {
    border-color: var(--violet8);
    box-shadow: 0 0 0 2px var(--color-focus-outline);
  }

  &:hover {
    background: var(--color-surface-2);
  }

  &:has(input:checked) {
    background: var(--violet9);
    border-color: var(--violet8);

    &:hover {
      background: var(--violet8);
    }
  }

  &:has([type='radio']) {
    border-radius: 100%;
  }

  input {
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;

    &:checked ~ svg {
      display: block;
    }
  }

  svg {
    display: none;
    fill: var(--white);
    width: 0.8rem;
    height: 0.8rem;
  }
}
