.overlay {
  position: fixed;
  inset: 0;
  z-index: 10000;
  padding: 1rem;
  display: flex;
  animation: contentShow 200ms;
  background: rgba(118, 118, 118, 0.5);
}

.content {
  --dialog-content-padding: 2rem;
  position: relative;
  background: var(--color-surface-1);
  box-shadow: 0 0 2rem 0.2rem rgba(0, 0, 0, 0.3);
  width: 100%;
  max-height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  padding: var(--dialog-content-padding);
  border-radius: 0.5rem;
  outline: none;

  &[data-anchor='center'] {
    margin: auto;
  }
  &[data-anchor='top'] {
    margin: 0 auto auto;
  }

  &[data-size='xs'] {
    max-width: var(--size-max-container-width-xs);
  }
  &[data-size='s'] {
    max-width: var(--size-max-container-width-s);
  }
  &[data-size='m'] {
    max-width: var(--size-max-container-width-m);
  }
  &[data-size='l'] {
    max-width: var(--size-max-container-width-l);
  }
}

.closeButton {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  background: var(--color-surface-3);
  color: var(--color-text-2);
  cursor: pointer;
  box-shadow: 0 0 0 0px var(--color-focus-outline);
  outline: none;
  transition: all 200ms;

  &:hover {
    background: var(--color-surface-4);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--color-focus-outline);
  }

  &[data-absolute='true'] {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stickyHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: calc(var(--dialog-content-padding) * -1);
  z-index: 10;
  background: var(--color-surface-2);
  margin: calc(var(--dialog-content-padding) * -1);
  margin-bottom: var(--dialog-content-padding);
  padding: 1rem;
  box-shadow:
    0 1px 0 var(--color-border-1),
    0px 4px 8px 0px rgba(0, 0, 0, 0.06),
    0px 0px 0px 1px rgba(0, 0, 0, 0.06);
}
