.content {
  z-index: 1000;
  min-width: 0;
  max-width: min(25rem, 100vw);
  max-height: 80vh;
  background: var(--color-surface-1);
  border-radius: 0.3rem;
  padding: 0.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  overflow: auto;
  scroll-behavior: smooth;

  hr {
    margin: 0.5rem 0.5rem;
    border: none;
    border-top: 1px solid var(--color-border-1);
  }
}

.arrow {
  fill: var(--color-surface-1);
}

.item {
  all: unset;
  color: var(--color-text-1);
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
  box-sizing: border-box;
  padding: 0.3rem 0.5rem;
  font-family: var(--font-primary);
  font-size: 0.8rem;
  line-height: 1.4;
  font-weight: 400;
  position: relative;
  user-select: none;
  outline: none;
  cursor: pointer;
  overflow-wrap: anywhere;
  transition: all 200ms;

  &[data-highlighted] {
    background-color: var(--color-surface-3);
  }
}

.label {
  padding: 0.3rem 0.5rem;
  font-family: var(--font-primary);
  font-size: 0.8rem;
  line-height: 1.4;
  font-weight: 400;
  color: var(--color-text-2);
}

.checkboxIndicator {
  display: flex;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  svg {
    display: none;
    fill: currentColor;
  }

  [data-indicator='unchecked'] {
    display: block;
    opacity: 0.5;
  }

  [data-indicator='checked'] {
    opacity: 1;
    color: var(--color-affirm);
  }

  [data-state='checked'] & {
    [data-indicator='checked'] {
      display: block;
    }
    [data-indicator='unchecked'] {
      display: none;
    }
  }
}
