.spinner {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  animation: spin 1.2s linear infinite;
  border-radius: 50%;
  border: 2px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  flex-shrink: 0;
  flex-grow: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
