.tabRoot {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* variables normally provided by theme */
  --border-radius-m: 12px;
  --color-cta-primary: var(--color-primary);
  --color-primary: #87bb81;
  --focus-outline-color: #8793a6;
  --font-action: 'IBM Plex Mono', monospace;
  --font-size-h6: 1rem;
  --line-height-h6: 1.5;
  --space-l: 2rem;
  --space-m: 1rem;
  --space-s: 0.6rem;
  --space-xs: 0.25rem;
  --transition-speed: 150ms;
  --transitions: color var(--transition-speed),
    border-color var(--transition-speed),
    background-color var(--transition-speed), box-shadow var(--transition-speed),
    opacity var(--transition-speed);
}

.tabTrigger {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  color: var(--color-text-1);
  cursor: pointer;
  font-family: var(--font-action);
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
  font-weight: 500;
  justify-content: center;
  padding: var(--trigger-padding);
  transition: var(--transitions);
  user-select: none;
  white-space: nowrap;
  border: 1px solid transparent;
  border-bottom: none;
  flex-shrink: 0;
  background-color: transparent;

  &:hover {
    box-shadow: inset 0 var(--border-size) 0 var(--color-text-1);
  }

  &:focus {
    border-color: var(--focus-outline-color) !important;
  }

  &[data-state='active'] {
    --color-active: var(--violet-11);
    color: var(--color-active) !important;
    box-shadow: inset 0 var(--border-size) 0 var(--color-active) !important;
    position: relative;
    z-index: 5;
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-text-3);
  }
}

.tabList {
  --border-radius: var(--border-radius-m);
  --border-size: -1px;
  --trigger-padding: var(--space-m);
  display: flex;
  width: 100%;
  box-shadow: inset 0 var(--border-size) 0 var(--color-surface-5);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  /* ! not supported but may be useful reference in future */
  /* variants: {
    inline: {
      true: {
        --border-radius: 0;
        --trigger-padding: var(--space-xs) 0;
        box-shadow: none;
        width: auto;
        gap: var(--space-l);

        [`${Trigger}`]: {
          border: 1px solid transparent;
        }
      }
    }
  } */
}

.tabContent {
  padding-top: var(--space-m);
  overflow: auto;
}
