@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-dark.css';
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sand-dark.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/violet-dark.css';

.theme {
  --font-primary: 'Inter', sans-serif;

  --text-xs: 400 12px/1.4 var(--font-primary);
  --text-s: 400 14px/1.5 var(--font-primary);
  --text-base: 400 16px/1.5 var(--font-primary);
  --text-l: 400 20px/1.3 var(--font-primary);
  --text-xl: 700 24px/1.3 var(--font-primary);
  --text-2xl: 700 30px/1.3 var(--font-primary);
  --text-3xl: 700 42px/1.3 var(--font-primary);
  --text-hero: 700 72px/1 var(--font-primary);

  --size-max-container-width-xs: 20rem;
  --size-max-container-width-s: 30rem;
  --size-max-container-width-m: 50rem;
  --size-max-container-width-l: 80rem;

  font-family: var(--font-primary);
  line-height: 1.5;
  background: var(--color-surface-1);
  color: var(--color-text-1);
  color-scheme: light;
  -webkit-font-smoothing: antialiased;

  --color-border-1: var(--sand-5);
  --color-text-1: var(--sand-12);
  --color-text-2: var(--sand-11);
  --color-surface-1: #fff;
  --color-surface-2: var(--sand-2);
  --color-surface-3: var(--sand-3);
  --color-surface-4: var(--sand-4);
  --color-focus-outline: var(--violet-6);
  --color-primary-action: var(--violet-9);
  --color-affirm: var(--green-8);
  --color-danger: var(--red-8);

  :global(body.dark) &[data-allow-theme-change='true'],
  :global(&.dark) {
    --color-surface-1: var(--sand-1);
    --color-primary-action: var(--violet-10);
    --color-focus-outline: var(--violet-11);
    --color-affirm: var(--green-11);
    --color-danger: var(--red-11);

    color-scheme: dark;
  }
}
