/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#next {
  isolation: isolate;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font: var(--text-2xl);
}
h2 {
  font: var(--text-xl);
}
h3 {
  font: var(--text-l);
}
h4 {
  font: var(--text-base);
}
h5 {
  font: var(--text-s);
}
h6 {
  font: var(--text-xs);
}
p {
  font: var(--text-base);
}
