.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 0;
  height: 3rem;
  flex-shrink: 0;
  padding: 0 1rem;
  z-index: 2000;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  background: var(--color-surface-1);
}

.logo {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-text-1);
  opacity: 0.3;
  margin-right: auto;
  transition: all 200ms;
}
.logo:hover {
  opacity: 0.5;
}
.logo:focus {
  opacity: 1;
}

.logoSvg {
  display: block;
  height: 1rem;
  flex-shrink: 0;
}

.logoTitle {
  font-family: sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 300;
}

.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
